absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
einops==0.8.1
filelock==3.13.1
fonttools==4.59.0
frozenlist==1.6.0
fsspec==2024.6.1
grpcio==1.74.0
h5py==3.9.0
huggingface-hub==0.31.2
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.4
joblib==1.5.0
kiwisolver==1.4.7
lazy_loader==0.4
lightning-utilities==0.15.0
lmdb==2.2.1
mamba-ssm @ file:///home/hutao/%E7%BC%9D%E5%A5%BD%E7%9A%84/666/mamba_ssm-2.2.4%2Bcu11torch2.5cxx11abiFALSE-cp39-cp39-linux_x86_64.whl#sha256=eebf26c1287fd78ca115dfb7fbec320163534d3330a2b417655eda8db9edd981
Markdown==3.8.2
MarkupSafe==2.1.5
matplotlib==3.9.4
mne==1.8.0
mpmath==1.3.0
multidict==6.4.3
networkx==3.2.1
ninja==1.11.1.4
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
packaging==25.0
pandas==2.3.3
pillow==11.0.0
platformdirs==4.4.0
pooch==1.8.2
propcache==0.3.1
protobuf==6.31.1
psutil==7.0.0
pyEDFlib==0.1.42
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.2
pytz==2026.2
PyWavelets==1.6.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.5.0+cu118
torch_geometric==2.5.3
torchaudio==2.5.0+cu118
torchmetrics==1.8.0
torchvision==0.20.0+cu118
tqdm==4.67.1
transformers==4.51.3
triton==3.1.0
typing_extensions==4.12.2
tzdata==2026.2
urllib3==2.4.0
Werkzeug==3.1.3
yarl==1.20.0
zipp==3.23.0

